.position {
  margin: auto;
  text-align: center;
}

mat-card {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
}
mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.btn-space {
  margin-right: 5px;
}

mat-card-header h1 {
  margin: auto;
  text-align: center;
}

mat-card-header {
  border-bottom: 2px solid;
  margin-bottom: 1.5rem;
}
