<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header> <h1>Group</h1> </mat-card-header>
  <form (submit)="addGroup(groupForm)" #groupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="name"
        ngModel
        type="text"
        placeholder="name of group"
        #nameInput="ngModel"
        required
        autocomplete="username"
      />
      <mat-error *ngIf="nameInput.invalid"
        >Please enter a valid name.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>section</mat-label>
      <mat-select
        matNativeControl
        placeholder="section"
        name="section"
        #sectionSelect="ngModel"
        ngModel
        required
      >
        <option value="" disabled selected></option>
        <mat-option *ngFor="let section of sections" [value]="section.id">{{
          section.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="sectionSelect.invalid"
        >Please enter a valid section</mat-error
      >
    </mat-form-field>

    <div class="position">
      <button
        mat-raised-button
        class="btn-space"
        color="primary"
        style="width: 150px"
        type="submit"
        *ngIf="!isLoading"
      >
        Save
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        style="width: 150px"
        type="reset"
        *ngIf="!isLoading"
        (click)="cancelForm()"
      >
        Cancel
      </button>
    </div>
  </form>
</mat-card>
