<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header> <h1>Parent</h1> </mat-card-header>
  <form (submit)="onSaveParent()" [formGroup]="form" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        formControlName="fullName"
        type="text"
        placeholder="Full Name"
        required
      />
      <mat-error *ngIf="form.get('fullName').invalid"
        >Please enter a valid fullName.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="parent@gmail.com"
        email
      />
      <mat-error *ngIf="form.get('email').invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field *ngIf="[mode] == 'create'">
      <input
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        matInput
        placeholder="Password"
        required
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password').invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>child</mat-label>
      <mat-select
        matNativeControl
        placeholder="myChild@gmail.com"
        formControlName="childEmail"
        required
      >
        <mat-option *ngFor="let student of students" [value]="student.email">{{
          student.email
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('childEmail').invalid"
        >Please choose a child</mat-error
      >
    </mat-form-field>

    <div class="position">
      <button
        mat-raised-button
        class="btn-space"
        color="primary"
        style="width: 150px"
        type="submit"
        *ngIf="!isLoading"
        [disabled]="form.invalid"
      >
        Save
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        style="width: 150px"
        type="reset"
        *ngIf="!isLoading"
        (click)="cancelForm()"
      >
        Cancel
      </button>
    </div>
  </form>
</mat-card>
