<mat-card class="example-card" *ngIf="section">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{section.name}}</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image [src]="section.imagePath" [alt]="section.name"> -->
    <mat-card-content>
      <div class="card" style="width: 500px; height: auto;">
        <div class="row no-gutters">
            <div class="col-lg-6 colmd-6 col-sm-6">
                <img class="card-img" [src]="section.imagePath" [alt]="section.name">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="mr-5">
                    <h5 class="card-text"><b>Description</b>: {{section.description}}</h5>
                    <h5 class="card-text"><b>Prix</b>: {{section.prix}} dt</h5>
                    <p class="card-text"><b>Hours</b>: {{section.hours}} </p>
                    <p class="card-text"><b>Local</b>: {{section.local}} </p>
                </div>
            </div>
        </div>
    </div>
    </mat-card-content>
    <mat-card-actions *ngIf="[role] == 'admin'" >
      <a
      mat-button
      color="primary"
      [routerLink]="['/ecms/edit-section', section.id]"
      >EDIT</a
    >
      <button mat-button color="warn" (click)="onDelete(section.id)">DELETE</button>
    </mat-card-actions>
  </mat-card>