.example-spacer {
  flex: 1 1 auto;
}

mat-paginator {
  margin-top: 1rem;
}


.btn-group {
  border: none;
  .dropdown {
    margin: 0px !important;
  }
}

mat-spinner {
  margin: auto;
}

p {
  margin: auto;
  text-align: center;
}

.inputStyle {
  border: 2em blue;
  border-radius: 1em;
  max-width: 15em;
}
