<p>
  <mat-toolbar>
    <i class="fas fa-laptop-code"></i>&nbsp;
    <span>Products</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
</p>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/ecms/products">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/ecms/product-reservation" *ngIf="role == 'admin' || role =='accountant'">Reservations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/ecms/my-product-reservation"
      >My reservation</a
    >
  </li>
</ul>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container" *ngIf="reservation != null && !isLoading">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Product</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of reservation">
            <td>{{ data.user.fullName }}</td>
            <td>{{ data.user.email }}</td>
            <td>{{ data.user.role }}</td>
            <td>{{ data.product.name }}</td>
            <td>{{ data.dateReservation | date }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<p class="info-text mat-body-1" *ngIf="reservation == null && !isLoading">
  you don't have any reservation
</p>
