<p>
  <mat-toolbar>
    <i class="fas fa-user-graduate"></i> &nbsp;
    <span>Students</span>
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="addStudent()">
      <i class="fas fa-user-plus"></i> add Student
    </button>
  </mat-toolbar>
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>


  <div class="example-header">
    <mat-form-field>      
     <input matInput (change)="studentFilter($event.target.value)" 
      placeholder="Search">
    <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
  </div>

<ng2-smart-table [settings]="settings" [source]="students" (custom)="onCustom($event)"></ng2-smart-table>

<mat-paginator
  [length]="totalStudents"
  [pageSize]="studentsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>
