<p>
  <mat-toolbar>
    <i class="fas fa-user-graduate"></i> &nbsp;
    <span>Students</span>
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="addStudent()">
      <i class="fas fa-user-plus"></i> add Student
    </button>
  </mat-toolbar>
</p>

<div class="search">
  <mat-form-field fxFlex="40%">
    <input
      matInput
      type="text"
      (keyup)="doFilter($event.target.value)"
      placeholder="Search"
    />
  </mat-form-field>
</div>

<div>
  <mat-paginator
    [pageSizeOptions]="[10, 15, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
