.example-spacer {
  flex: 1 1 auto;
}

mat-paginator {
  margin-top: 1rem;
}

.container {
  padding: 2rem 0rem;
}

td button {
  margin-left: 2px;
  margin-right: 2px;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td,
  th {
    vertical-align: middle;
  }
}

mat-spinner {
  margin: auto;
}

:host /deep/ ng2-smart-table {
  font-size: 1rem !important;
}

:host /deep/ ng2-smart-table table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  line-height: 1.5em;
  max-width: 100%;
  overflow: auto;
  width: 100%;
  word-break: normal;
  word-break: keep-all;
  background-color: #bbb9b938;
  border: 1px solid #000 !important;
}

.example-header {
  text-align: center;
}