<p>
  <mat-toolbar>
    <i class="fas fa-chalkboard-teacher"></i> &nbsp;
    <span>Teachers</span>
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="addTeacher()">
      <i class="fas fa-user-plus"></i> add Teacher
    </button>
  </mat-toolbar>
</p>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="example-header">
  <mat-form-field>      
   <input matInput (change)="teacherFilter($event.target.value)" 
    placeholder="Search">
  <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<ng2-smart-table [settings]="settings" [source]="teachers" (custom)="onCustom($event)"></ng2-smart-table>

<mat-paginator
  [length]="totalTeachers"
  [pageSize]="teacherPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>
