<p>
  <mat-toolbar>
    <i class="fas fa-book"></i> &nbsp;
    <span>Books</span>
  </mat-toolbar>
</p>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/ecms/books">Books</a>
  </li>
  <li class="nav-item" *ngIf="role =='admin' || role =='librarian'">
    <a class="nav-link" routerLink="/ecms/book-reservation" >Reservations</a>
  </li>
  <li class="nav-item" *ngIf="role =='admin' || role =='librarian'">
    <a class="nav-link" routerLink="/ecms/demande-book" >list of demands</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/ecms/my-book-reservation"
      >My reservation</a
    >
  </li>
</ul>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container" *ngIf="reservation.length > 0 && !isLoading">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Book</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of reservation">
            <td>{{ data.user.fullName }}</td>
            <td>{{ data.user.email }}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.book.title }}</td>
            <td>{{ data.dateReservation | date }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<p class="info-text mat-body-1" *ngIf="reservation.length <= 0 && !isLoading">
  you don't have any reservation
</p>
