<div class="bgImage">
  <div class="cardPosition">
    <mat-card>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <mat-card-header>
        <h1>
          <u>Login</u>
        </h1>
      </mat-card-header>
      <form
        (submit)="onLogin(loginForm)"
        #loginForm="ngForm"
        *ngIf="!isLoading"
      >
        <mat-form-field>
          <input
            matInput
            name="email"
            ngModel
            type="email"
            placeholder="E-Mail"
            #emailInput="ngModel"
            required
            email
          />
          <mat-error *ngIf="emailInput.invalid"
            >Please enter a valid email.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            name="password"
            ngModel
            matInput
            placeholder="Password"
            #passwordInput="ngModel"
            required
          />
          <mat-error *ngIf="passwordInput.invalid"
            >Please enter a valid password.</mat-error
          >
        </mat-form-field>

        <div class="position">
          <button
            mat-raised-button
            class="btn btn-dark btn-space"
            type="submit"
            *ngIf="!isLoading"
          >
            login
          </button>
          <button
            mat-raised-button
            class="btn btn-info"
            type="reset"
            *ngIf="!isLoading"
            (click)="OnSignup()"
          >
            Register
          </button>

          <div class="droite">
            <a mat-button href="https://www.google.com/" target="_blank"
              >forget password</a
            >
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
