mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.position {
  margin: auto;
  text-align: center;
}

mat-card {
  width: 70%;
  margin: auto;
}
