<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i
              class="fas fa-user-graduate"
              style="font-size: 200%; color: blue"
            ></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Students</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ students }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i
              class="fas fa-chalkboard-teacher"
              style="font-size: 200%; color: aqua"
            ></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Teachers</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ teachers }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fas fa-users" style="font-size: 200%; color: green"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Class</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ classes }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i
              class="fas fa-directions"
              style="font-size: 200%; color: burlywood"
            ></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Speciality</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">
                {{ specialities }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <!--weather card-->
    <div class="card">
      <div class="card-title">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a
                  class="nav-link"
                  type="button"
                  mat-stroked-button
                  [routerLink]="['/ecms/events']"
                  style="width: 80px"
                  >Events
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="card-body">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
    <!--weather card ends-->
  </div>
</div>
<div>
  <div class="row">
    <div class="col-lg-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <p>
              your opinion is very important to us thank you
              <button
                mat-button
                color="primary"
                style="float: right"
                [routerLink]="['/ecms/note']"
              >
                create your note
              </button>
            </p>
          </h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First name</th>
                  <th>title</th>
                  <th>problem</th>
                  <th>solution</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let note of notes; let i = index">
                  <td class="font-weight-medium">{{ i + 1 }}</td>
                  <td>{{ note.fullName }}</td>
                  <td>{{ note.title }}</td>
                  <td>{{ note.problem }}</td>
                  <td>{{ note.solution }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger"
                      title="delete"
                      (click)="deleteNote(note.id)"
                    >
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <mat-paginator
              style="float: right"
              [length]="totalNotes"
              [pageSize]="NotePerPage"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onChangedPage($event)"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
