mat-card {
  width: 70%;
  margin: auto;
}

mat-form-field {
  width: 100%;
  margin: auto;
}

mat-card-header h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  color: rgb(44, 71, 224);
}

mat-card-actions {
  margin: 1rem;
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.position {
  margin: auto;
  text-align: center;
}

.btn-space {
  margin-right: 5px;
}
