<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header> <h1>Teacher</h1> </mat-card-header>
  <form
    (submit)="addTeacher(teacherForm)"
    #teacherForm="ngForm"
    *ngIf="!isLoading"
  >
    <mat-form-field>
      <input
        matInput
        name="fullName"
        ngModel
        type="text"
        placeholder="Full Name"
        #fullNameInput="ngModel"
        required
        autocomplete="username"
      />
      <mat-error *ngIf="fullNameInput.invalid"
        >Please enter a valid full N.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="E-Mail"
        #emailInput="ngModel"
        required
        email
        autocomplete="email"
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        [type]="hide ? 'password' : 'text'"
        name="password"
        ngModel
        matInput
        placeholder="Password"
        #passwordInput="ngModel"
        required
        autocomplete="current-password"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <select
        matNativeControl
        placeholder="speciality"
        name="speciality"
        #specialitySelect="ngModel"
        ngModel
        required
      >
        <option *ngFor="let section of sections" [value]="section.name">{{
          section.name
        }}</option>
      </select>
      <mat-error *ngIf="specialitySelect.invalid"
        >Please enter a valid speciality</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="salary"
        ngModel
        type="number"
        placeholder="salary"
        #salaryInput="ngModel"
        required
        autocomplete="cc-name"
      />
      <mat-error *ngIf="salaryInput.invalid"
        >Please enter a teacher salar</mat-error
      >
    </mat-form-field>

    <div class="position">
      <button
        mat-raised-button
        class="btn btn-success btn-space"
        type="submit"
        *ngIf="!isLoading"
      >
        Save
      </button>
      <button
        mat-raised-button
        class="btn btn-danger"
        type="reset"
        *ngIf="!isLoading"
        (click)="cancelForm()"
      >
        Cancel
      </button>
    </div>
  </form>
</mat-card>
