<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header> <h1>Teacher</h1> </mat-card-header>
  <form [formGroup]="form" (submit)="onSaveTeacher()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        formControlName="fullName"
        type="text"
        placeholder="Full Name"
        required
      />
      <mat-error *ngIf="form.get('fullName').invalid"
        >Please enter a valid full N.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="teacher@gmail.com"
        required
      />
      <mat-error *ngIf="form.get('email').invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field *ngIf="mode == 'create'">
      <input
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        matInput
        placeholder="Password"
        required
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password').invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-select
        matNativeControl
        placeholder="speciality"
        formControlName="speciality"
        required
      >
        <mat-option *ngFor="let section of sections" [value]="section.name">{{
          section.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('speciality').invalid"
        >Please enter a valid speciality</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="salary"
        type="number"
        placeholder="salary"
        min="1"
      />
      <mat-error *ngIf="form.get('salary').invalid"
        >Please enter a teacher salar</mat-error
      >
    </mat-form-field>

    <div class="position">
      <button
        [disabled]="form.invalid"
        mat-raised-button
        class="btn-space"
        color="primary"
        style="width: 150px"
        type="submit"
        *ngIf="!isLoading"
      >
        Save
      </button>
      <button
        mat-raised-button
        color="accent"
        style="width: 150px"
        type="reset"
        *ngIf="!isLoading"
        (click)="cancelForm()"
      >
        Cancel
      </button>
    </div>
  </form>
</mat-card>
