<div class="container">
  <div class="view-account">
    <section class="module">
      <div class="module-inner">
        <div class="side-bar">
          <div class="container">
            <div class="user-info">
              <div class="image-preview img-circle" *ngIf="!image">
                <img
                  src="../../../assets/images/default.png"
                  alt="Profile image"
                  class="center"
                />
              </div>

              <div class="image-preview img-circle" *ngIf="image != null">
                <img [src]="profile.image" [alt]="form.value.title" />
              </div>
              <ul class="meta list list-unstyled">
                <li class="name">
                  {{ fullName }}
                </li>
                <!-- <li class="name">{{ role }}</li>
                <li class="email">
                  {{ email }}
                </li> -->
              </ul>
            </div>
            <div id="content">
              <div id="main-content">
                <mat-tab-group>
                  <mat-tab label="Profile">
                    <div class="content-panel">
                      <form
                        class="form-horizontal"
                        [formGroup]="form"
                        (submit)="onSaveProfile()"
                      >
                        <fieldset class="fieldset">
                          <h3 class="fieldset-title">Personal Info</h3>
                          <div class="form-group avatar">
                            <div
                              class="form-inline col-md-10 col-sm-9 col-xs-12"
                            >
                              <button
                                mat-stroked-button
                                type="button"
                                (click)="filePicker.click()"
                              >
                                Pick Image
                              </button>
                              <input
                                type="file"
                                #filePicker
                                (change)="onImagePicked($event)"
                              />
                            </div>
                          </div>
                          <div class="form-group">
                            <label
                              class="col-md-2 col-sm-3 col-xs-12 control-label"
                              >User Name</label
                            >
                            <div class="col-md-10 col-sm-9 col-xs-12">
                              <input
                                matInput
                                type="text"
                                formControlName="fullName"
                                class="form-control"
                              />
                            </div>
                          </div>

                          <div class="form-group">
                            <label
                              class="col-md-2 col-sm-3 col-xs-12 control-label"
                              >adress</label
                            >
                            <div class="col-md-10 col-sm-9 col-xs-12">
                              <input
                                type="text"
                                class="form-control"
                                formControlName="adress"
                              />
                            </div>
                          </div>
                          <div class="form-group">
                            <label
                              class="col-md-2 col-sm-3 col-xs-12 control-label"
                              >Birdhday</label
                            >
                            <div class="col-md-10 col-sm-9 col-xs-12">
                              <input
                                formControlName="birdhday"
                                class="textbox-n form-control"
                                type="text"
                                onfocus="(this.type='date')"
                                id="date"
                              />
                            </div>
                          </div>
                        </fieldset>
                        <fieldset class="fieldset">
                          <h3 class="fieldset-title">Contact Info</h3>
                          <div class="form-group">
                            <label
                              class="col-md-2 col-sm-3 col-xs-12 control-label"
                              >Email</label
                            >
                            <div class="col-md-10 col-sm-9 col-xs-12">
                              <input
                                type="email"
                                formControlName="email"
                                class="form-control"
                              />
                            </div>
                          </div>
                          <div class="form-group">
                            <label
                              class="col-md-2 col-sm-3 col-xs-12 control-label"
                              >Phone</label
                            >
                            <div class="col-md-10 col-sm-9 col-xs-12">
                              <input
                                type="text"
                                class="form-control"
                                formControlName="phone"
                              />
                            </div>
                          </div>
                          <div class="form-group">
                            <label
                              class="col-md-2 col-sm-3 col-xs-12 control-label"
                              >Linkedin</label
                            >
                            <div class="col-md-10 col-sm-9 col-xs-12">
                              <input
                                type="url"
                                class="form-control"
                                formControlName="linkedin"
                              />
                              <p class="help-block">
                                eg. https://www.linkedin.com/in/yourname
                              </p>
                            </div>
                          </div>
                        </fieldset>
                        <hr />
                        <div class="form-group">
                          <div
                            class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0"
                          >
                            <input
                              class="btn btn-primary"
                              type="submit"
                              value="Update Profile"
                            />
                          </div>
                        </div>
                      </form>
                    </div>
                  </mat-tab>
                  <mat-tab label="Change Password">
                    <form
                      class="container"
                      [formGroup]="pwChangeForm"
                      (submit)="changePassword()"
                    >
                      <mat-form-field>
                        <input
                          matInput
                          id="current"
                          [type]="hide ? 'password' : 'text'"
                          placeholder="Current Password"
                          formControlName="current"
                          type="password"
                          required
                          autocomplete="current-password"
                        />
                        <button
                          mat-icon-button
                          type="button"
                          matSuffix
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                        >
                          <mat-icon>{{
                            hide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                        <mat-error *ngIf="pwChangeForm.get('current').invalid"
                          >Please enter a valid current password.</mat-error
                        >
                      </mat-form-field>
                      <mat-form-field>
                        <input
                          matInput
                          id="newPW"
                          [type]="hide ? 'password' : 'text'"
                          placeholder="new password"
                          formControlName="newPW"
                          type="password"
                          required
                          autocomplete="new-password"
                        />
                        <button
                          mat-icon-button
                          type="button"
                          matSuffix
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                        >
                          <mat-icon>{{
                            hide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                        <mat-error
                          *ngIf="
                            pwChangeForm.get('newPW').invalid ||
                            pwChangeForm.get('current').value ==
                              pwChangeForm.get('newPW').value
                          "
                          >Please enter another password.</mat-error
                        >
                      </mat-form-field>
                      <mat-form-field>
                        <input
                          matInput
                          id="confirm"
                          [type]="hide ? 'password' : 'text'"
                          placeholder="Confirm new password"
                          formControlName="confirm"
                          type="password"
                          required
                          autocomplete="new-password"
                        />
                        <button
                          mat-icon-button
                          type="button"
                          matSuffix
                          (click)="hide = !hide"
                          [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide"
                        >
                          <mat-icon>{{
                            hide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                        </button>
                        <mat-error *ngIf="pwChangeForm.get('confirm').invalid">
                          Password and confirm password must be match</mat-error
                        >
                      </mat-form-field>

                      <div>
                        <button
                          type="submit"
                          mat-raised-button
                          class="btn-space"
                          color="primary"
                          style="width: 150px"
                        >
                          Submit
                        </button>
                      </div>
                    </form>
                  </mat-tab>
                  <mat-tab label="Personal cv">
                    <div class="container">
                      <h1>Personal cv</h1>

                      <form [formGroup]="cvForm" (ngSubmit)="saveCv()">
                        <h5>profile</h5>
                        <textarea
                          name="profile"
                          class="form-control"
                          formControlName="profile"
                          cols="30"
                          rows="5"
                        ></textarea>
                        <table
                          class="table table-bordered"
                          formArrayName="skills"
                        >
                          <tr>
                            <th colspan="2">Skills</th>
                            <th width="150px">
                              <button
                                type="button"
                                (click)="addSkill()"
                                class="btn btn-primary"
                              >
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </button>
                            </th>
                          </tr>
                          <tr
                            *ngFor="
                              let skill of skills().controls;
                              let i = index
                            "
                            [formGroupName]="i"
                          >
                            <td>
                              <h5>skill</h5>
                              <input
                                type="text"
                                formControlName="skill"
                                class="form-control"
                              />
                            </td>
                            <td>
                              <h5>level</h5>
                              <input
                                type="number"
                                formControlName="level"
                                class="form-control"
                                max="5"
                                min="0"
                              />
                            </td>
                            <td>
                              <button
                                (click)="removeSkill(i)"
                                class="btn btn-danger"
                              >
                                <i class="far fa-trash-alt"></i>
                              </button>
                            </td>
                          </tr>
                        </table>

                        <table
                          class="table table-bordered"
                          formArrayName="projects"
                        >
                          <tr>
                            <th colspan="2">Projects</th>
                            <th width="150px">
                              <button
                                type="button"
                                (click)="addProject()"
                                class="btn btn-primary"
                              >
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </button>
                            </th>
                          </tr>
                          <tr
                            *ngFor="
                              let project of projects().controls;
                              let i = index
                            "
                            [formGroupName]="i"
                          >
                            <td>
                              <h5>project</h5>
                              <input
                                type="text"
                                formControlName="project"
                                class="form-control"
                              />
                            </td>
                            <td>
                              <h5>Description</h5>
                              <textarea
                                type="text"
                                formControlName="description"
                                class="form-control"
                                rows="3"
                              ></textarea>
                            </td>
                            <td>
                              <button
                                (click)="removeProject(i)"
                                class="btn btn-danger"
                              >
                                <i class="far fa-trash-alt"></i>
                              </button>
                            </td>
                          </tr>
                        </table>

                        <table
                          class="table table-bordered"
                          formArrayName="langues"
                        >
                          <tr>
                            <th colspan="2">Langues</th>
                            <th width="150px">
                              <button
                                type="button"
                                (click)="addLangue()"
                                class="btn btn-primary"
                              >
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </button>
                            </th>
                          </tr>
                          <tr
                            *ngFor="
                              let langue of langues().controls;
                              let i = index
                            "
                            [formGroupName]="i"
                          >
                            <td>
                              <h5>Langue</h5>
                              <input
                                type="text"
                                formControlName="langue"
                                class="form-control"
                              />
                            </td>
                            <td>
                              <h5>level</h5>
                              <input
                                type="number"
                                formControlName="level"
                                class="form-control"
                                max="5"
                                min="0"
                              />
                            </td>
                            <td>
                              <button
                                (click)="removeLangue(i)"
                                class="btn btn-danger"
                              >
                                <i class="far fa-trash-alt"></i>
                              </button>
                            </td>
                          </tr>
                        </table>

                        <div class="position">
                          <button
                            mat-raised-button
                            type="submit"
                            color="primary"
                            style="width: 100px"
                          >
                            Submit
                          </button>
                        </div>
                      </form>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- *ngIf=" imagePreview !== '' && imagePreview && form.get('image').valid " -->
