<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header>
    <h1>Reservation Book</h1>
  </mat-card-header>
  <form
    (submit)="newReservation(reserForm)"
    #reserForm="ngForm"
    *ngIf="!isLoading"
  >
    <mat-form-field>
      <mat-label>User</mat-label>
      <mat-select
        matNativeControl
        placeholder="User"
        name="user"
        #userSelect="ngModel"
        ngModel
        required
      >
        <mat-option *ngFor="let user of users" [value]="user.id">
          <p>
            {{ user.email }} --
            <span style="position: absolute; right: 0">{{ user.role }}</span>
          </p>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="userSelect.invalid">User is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Book</mat-label>
      <mat-select
        matNativeControl
        placeholder="Book"
        name="book"
        #bookSelect="ngModel"
        ngModel
        required
      >
        <mat-option *ngFor="let book of books" [value]="book.id">
          <p>
            {{ book.title }} --
            <span style="position: absolute; right: 0.15cm">{{
              book.copies
            }}</span>
          </p>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="bookSelect.invalid">Book is required</mat-error>
    </mat-form-field>
    <div class="position">
      <button
        mat-raised-button
        class="btn-space"
        color="primary"
        type="submit"
        *ngIf="!isLoading"
        style="width: 150px"
      >
        Save
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        type="reset"
        *ngIf="!isLoading"
        (click)="cancelForm()"
        style="width: 150px"
      >
        Cancel
      </button>
    </div>
  </form>
</mat-card>
