<p>
  <mat-toolbar>
    <i class="fas fa-file"></i> &nbsp;
    <span> Subject </span>
    <span class="example-spacer"></span>
    <button
      class="btn btn-primary"
      (click)="addSubject()"
      *ngIf="[role] == 'admin'"
    >
      <i class="fas fa-file-medical"></i> add Subject
    </button>
  </mat-toolbar>
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Subject name</th>
            <th scope="col">description</th>
            <th scope="col">coefficient</th>
            <th scope="col">teachers</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lesson of lessons">
            <td>{{ lesson.name }}</td>
            <td>{{ lesson.description }}</td>
            <td>{{ lesson.coefficient }}</td>
            <td scope>
              <ul>
                <li *ngFor="let teacher of lesson.teachers">
                  {{ teacher.fullName }}
                </li>
              </ul>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                title="view course"
                (click)="OnView(lesson.id)"
              >
                <i class="far fa-eye"></i>
              </button>
              <a
                *ngIf="[role] == 'admin'"
                type="button"
                class="btn btn-success"
                title="edit subject"
                [routerLink]="['/ecms/edit-subject', lesson.id]"
              >
                <i class="fas fa-edit"></i>
              </a>
              <button
                *ngIf="[role] == 'admin'"
                type="button"
                class="btn btn-danger"
                title="delete Subject"
                (click)="onDelete(lesson.id)"
              >
                <i class="far fa-trash-alt"></i>
              </button>
              <button
                type="button"
                class="btn btn-warning"
                title="add course"
                (click)="addCourse(lesson.id)"
              >
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<mat-paginator
  [length]="totalSubjects"
  [pageSize]="subjectPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>
