<p>
  <mat-toolbar>
    <i class="fas fa-user-alt"></i> &nbsp; &nbsp;
    <span>Parents</span>
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="addParent()">
      <i class="fas fa-user-plus"></i> add Parent
    </button>
  </mat-toolbar>
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="example-header">
  <mat-form-field>      
   <input matInput (keyup)="parentFilter($event.target.value)" 
    placeholder="Search">
  <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<ng2-smart-table [settings]="settings" [source]="parents" (custom)="onCustom($event)"></ng2-smart-table>

<mat-paginator
  [length]="totalParents"
  [pageSize]="parentsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>

<!-- <div class="form">
  <form [formGroup]="form">
    <mat-form-field class="example-full-width">
      <input
        matInput
        (keyup)="test()"
        formControlName="search"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">children</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parent of parents">
            <td>{{ parent.fullName }}</td>
            <td>{{ parent.email }}</td>
            <td>{{ parent.childEmail }}</td>
            <td>
              <a
                type="button"
                class="btn btn-success"
                title="edit subject"
                [routerLink]="['/ecms/edit-parent', parent.id]"
              >
                <i class="fas fa-edit"></i>
              </a>
              <button
                type="button"
                class="btn btn-danger"
                title="delete Accountant"
                (click)="deleteParent(parent.id)"
              >
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<mat-paginator
  [length]="totalParents"
  [pageSize]="teacherPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator> -->
