<p>
  <mat-toolbar>
    <i class="fas fa-user-alt"></i> &nbsp; &nbsp;
    <span>Parents</span>
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="addParent()">
      <i class="fas fa-user-plus"></i> add Parent
    </button>
  </mat-toolbar>
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="example-header">
  <mat-form-field>      
   <input matInput (change)="parentFilter($event.target.value)" 
    placeholder="Search">
  <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<ng2-smart-table [settings]="settings" [source]="parents" (custom)="onCustom($event)"></ng2-smart-table>

<mat-paginator
  [length]="totalParents"
  [pageSize]="parentsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>
