:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.product-image {
  width: 100%;
}

.product-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: large;
  color: blue;
}

mat-paginator {
  margin-top: 1rem;
}

div.form {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

:host /deep/ ng2-smart-table {
  font-size: 1rem !important;
}

:host /deep/ ng2-smart-table table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  line-height: 1.5em;
  max-width: 100%;
  overflow: auto;
  width: 100%;
  word-break: normal;
  word-break: keep-all;
  background-color: #bbb9b938;
  border: 1px solid #000 !important;
}

.example-header {
  text-align: center;
}
