<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image" *ngIf="!image">
            <img
              class="img-xs rounded-circle"
              src="../../../assets/images/default.png"
              alt="Profile image"
              title="profile"
            />
          </div>
          <div class="profile-image" *ngIf="image != null">
            <img [src]="image" alt="profile image" />
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{ fullName }}</p>
            <div>
              <small class="designation text-muted"> {{ role }} </small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/ecms/dashboard"
        routerLinkActive="active"
      >
        <i class="flaticon-webinar"></i> &nbsp; &nbsp;
        <span class="menu-title"><strong>Dashboard</strong></span>
      </a>
    </li>
    <li class="nav-item" *ngIf="[role] == 'admin'">
      <a class="nav-link" routerLink="/ecms/students" routerLinkActive="active">
        <strong><i class="flaticon-student"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"> <strong>Students</strong></span>
      </a>
    </li>
    <li class="nav-item" *ngIf="[role] == 'admin'">
      <a class="nav-link" routerLink="/ecms/teachers" routerLinkActive="active">
        <strong><i class="flaticon-teacher"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Teachers</strong></span>
      </a>
    </li>
    <li class="nav-item" *ngIf="[role] == 'admin'">
      <a class="nav-link" routerLink="/ecms/parents" routerLinkActive="active">
       <strong> <i class="flaticon-couple"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Parents</strong></span>
      </a>
    </li>
    <li class="nav-item" *ngIf="[role] == 'admin'">
      <a
        class="nav-link"
        routerLink="/ecms/librarians"
        routerLinkActive="active"
      >
        <strong><i class="flaticon-librarian"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Librarians</strong></span>
      </a>
    </li>
    <li class="nav-item" *ngIf="[role] == 'admin'">
      <a
        class="nav-link"
        routerLink="/ecms/accountant"
        routerLinkActive="active"
      >
        <strong><i class="flaticon-accounting"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Accountant</strong></span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/ecms/attendance"
        routerLinkActive="active"
      >
        <strong><i class="flaticon-attendance"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Attendance</strong></span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/ecms/evaluation"
        routerLinkActive="active"
      >
        <strong><i class="flaticon-evaluation"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Evaluation</strong></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/group" routerLinkActive="active">
        <strong><i class="flaticon-study"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Group</strong></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/section" routerLinkActive="active">
        <strong><i class="flaticon-direcional"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Section</strong></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/note" routerLinkActive="active">
        <strong><i class="flaticon-credit-card"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Note</strong></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/subject" routerLinkActive="active">
        <strong><i class="flaticon-subject"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Subject</strong></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/program" routerLinkActive="active">
        <strong><i class="flaticon-report"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Program</strong></span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/ecms/timetables"
        routerLinkActive="active"
      >
        <strong><i class="flaticon-calendar"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Time Tables</strong></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/products" routerLinkActive="active">
        <strong><i class="flaticon-cup"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Products</strong></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/books" routerLinkActive="active">
        <strong><i class="flaticon-book"></i></strong> &nbsp; &nbsp;
        <span class="menu-title"><strong>Books</strong></span>
      </a>
    </li>
  </ul>
</nav>
