<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face16.jpg" alt="profile image" />
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{ fullName }}</p>
            <div>
              <small class="designation text-muted"> {{ role }} </small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/ecms/dashboard"
        routerLinkActive="active"
      >
        <i class="flaticon-webinar"></i> &nbsp; &nbsp;
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="[role] == 'admin'">
      <a class="nav-link" routerLink="/ecms/students" routerLinkActive="active">
        <i class="flaticon-student"></i> &nbsp; &nbsp;
        <span class="menu-title"> Students</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="[role] == 'admin'">
      <a class="nav-link" routerLink="/ecms/teachers" routerLinkActive="active">
        <i class="flaticon-teacher"></i> &nbsp; &nbsp;
        <span class="menu-title">Teachers</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="[role] == 'admin'">
      <a class="nav-link" routerLink="/ecms/parents" routerLinkActive="active">
        <i class="flaticon-couple"></i> &nbsp; &nbsp;
        <span class="menu-title">Parents</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="[role] == 'admin'">
      <a
        class="nav-link"
        routerLink="/ecms/librarians"
        routerLinkActive="active"
      >
        <i class="flaticon-librarian"></i> &nbsp; &nbsp;
        <span class="menu-title">Librarians</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="[role] == 'admin'">
      <a
        class="nav-link"
        routerLink="/ecms/accountant"
        routerLinkActive="active"
      >
        <i class="flaticon-accounting"></i> &nbsp; &nbsp;
        <span class="menu-title">Accountant</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/ecms/attendance"
        routerLinkActive="active"
      >
        <i class="flaticon-attendance"></i> &nbsp; &nbsp;
        <span class="menu-title">Attendance</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/ecms/evaluation"
        routerLinkActive="active"
      >
        <i class="flaticon-evaluation"></i> &nbsp; &nbsp;
        <span class="menu-title">Evaluation</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/group" routerLinkActive="active">
        <i class="flaticon-study"></i> &nbsp; &nbsp;
        <span class="menu-title">Group</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/section" routerLinkActive="active">
        <i class="flaticon-direcional"></i> &nbsp; &nbsp;
        <span class="menu-title">Section</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/payement" routerLinkActive="active">
        <i class="flaticon-credit-card"></i> &nbsp; &nbsp;
        <span class="menu-title">Payement</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/subject" routerLinkActive="active">
        <i class="flaticon-subject"></i> &nbsp; &nbsp;
        <span class="menu-title">Subject</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/program" routerLinkActive="active">
        <i class="flaticon-report"></i> &nbsp; &nbsp;
        <span class="menu-title">Program</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/ecms/timetables"
        routerLinkActive="active"
      >
        <i class="flaticon-calendar"></i> &nbsp; &nbsp;
        <span class="menu-title">Time Tables</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/products" routerLinkActive="active">
        <i class="flaticon-cup"></i> &nbsp; &nbsp;
        <span class="menu-title">Products</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecms/books" routerLinkActive="active">
        <i class="flaticon-book"></i> &nbsp; &nbsp;
        <span class="menu-title">Books</span>
      </a>
    </li>
  </ul>
</nav>
