<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header> <h1>Student</h1> </mat-card-header>
  <form [formGroup]="form" (submit)="onSaveStudent()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        formControlName="fullName"
        type="text"
        placeholder="Full Name"
        autocomplete="username"
      />
      <mat-error *ngIf="form.get('fullName').invalid"
        >Please enter a valid fullName.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="student@gmail.com"
        autocomplete="email"
      />
      <mat-error *ngIf="form.get('email').invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field *ngIf="mode == 'create'">
      <input
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        matInput
        placeholder="Password"
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password').invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="emailParent"
        type="email"
        placeholder="parent@gmail.com"
        autocomplete="email"
      />
      <mat-error *ngIf="form.get('emailParent').invalid"
        >Please enter an email parent for student .</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Section</mat-label>
      <mat-select
        matNativeControl
        placeholder="section"
        formControlName="section"
      >
        <mat-option *ngFor="let section of sections" [value]="section.id">{{
          section.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('section').invalid"
        >Please enter a valid section</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Group</mat-label>
      <mat-select matNativeControl placeholder="Group" formControlName="group">
        <mat-option *ngFor="let group of groups" [value]="group.id">{{
          group.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('group').invalid"
        >choose a valid group</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>payement</mat-label>
      <mat-select matNativeControl formControlName="payement">
        <mat-option value="yes">yes</mat-option>
        <mat-option value="no">no</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('payement').invalid"
        >Please enter a valid status.</mat-error
      >
    </mat-form-field>
    <div class="position">
      <button
        mat-raised-button
        class="btn-space"
        color="primary"
        style="width: 150px"
        type="submit"
        [disabled]="form.invalid"
      >
        Save
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        style="width: 150px"
        type="reset"
        (click)="cancelForm()"
      >
        Cancel
      </button>
    </div>
  </form>
</mat-card>
