<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header> <h1>Student</h1> </mat-card-header>
  <form (submit)="addStudent(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="fullName"
        ngModel
        type="text"
        placeholder="Full Name"
        #fullNameInput="ngModel"
        required
        autocomplete="username"
      />
      <mat-error *ngIf="fullNameInput.invalid"
        >Please enter a valid full N.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="E-Mail"
        #emailInput="ngModel"
        required
        email
        autocomplete="email"
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        [type]="hide ? 'password' : 'text'"
        name="password"
        ngModel
        matInput
        placeholder="Password"
        #passwordInput="ngModel"
        required
        autocomplete="new-password"
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="emailParent"
        ngModel
        type="email"
        placeholder="E-Mail Parent"
        #emailParentInput="ngModel"
        required
        email
        autocomplete="email"
      />
      <mat-error *ngIf="emailParentInput.invalid"
        >Please enter an email parent for student .</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Section</mat-label>
      <mat-select
        matNativeControl
        placeholder="section"
        name="section"
        #sectionSelect="ngModel"
        ngModel
        required
      >
        <mat-option *ngFor="let section of sections" [value]="section.id">{{
          section.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="sectionSelect.invalid"
        >Please enter a valid section</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Group</mat-label>
      <mat-select
        matNativeControl
        placeholder="Group"
        name="group"
        #groupSelect="ngModel"
        ngModel
        required
      >
        <mat-option *ngFor="let group of groups" [value]="group.id">{{
          group.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="groupSelect.invalid">choose a valid group</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>payement</mat-label>
      <mat-select
        matNativeControl
        name="payement"
        #payementSelect="ngModel"
        ngModel
        required
      >
        <mat-option value="yes">yes</mat-option>
        <mat-option value="no">no</mat-option>
      </mat-select>
      <mat-error *ngIf="payementSelect.invalid"
        >Please enter a valid status.</mat-error
      >
    </mat-form-field>
    <div class="position">
      <button
        mat-raised-button
        class="btn btn-success btn-space"
        type="submit"
        *ngIf="!isLoading"
      >
        Save
      </button>
      <button
        type="button"
        mat-raised-button
        class="btn btn-danger"
        type="reset"
        *ngIf="!isLoading"
        (click)="cancelForm()"
      >
        Cancel
      </button>
    </div>
  </form>
</mat-card>
