<p>
  <mat-toolbar>
    <i class="fas fa-book-reader"></i> &nbsp;
    <span>Librarians</span>
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="addLibrarian()">
      <i class="fas fa-user-plus"></i> add Librarian
    </button>
  </mat-toolbar>
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="form">
  <form [formGroup]="form">
    <mat-form-field class="example-full-width">
      <input
        matInput
        (keyup)="test()"
        formControlName="search"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let librarian of librarians">
            <td>{{ librarian.fullName }}</td>
            <td>{{ librarian.email }}</td>
            <td>{{ librarian.role }}</td>
            <td>{{ librarian.salary }}</td>
            <td>
              <a
                type="button"
                class="btn btn-success"
                title="edit subject"
                [routerLink]="['/ecms/edit-librarian', librarian.id]"
              >
                <i class="fas fa-edit"></i>
              </a>
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteLibrarian(librarian.id)"
                title="delete"
              >
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<mat-paginator
  [length]="totalLibrarians"
  [pageSize]="LibrarianPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>
