<p>
  <mat-toolbar>
    <i class="fas fa-book-reader"></i> &nbsp;
    <span>Librarians</span>
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="addLibrarian()">
      <i class="fas fa-user-plus"></i> add Librarian
    </button>
  </mat-toolbar>
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="example-header" *ngIf="librarians.length > 0 && !isLoading">
  <mat-form-field>      
   <input matInput (change)="librarianFilter($event.target.value)" 
    placeholder="Search">
  <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<ng2-smart-table *ngIf="librarians.length > 0 && !isLoading" [settings]="settings" [source]="librarians" (custom)="onCustom($event)"></ng2-smart-table>

<mat-paginator
  *ngIf="librarians.length > 0 && !isLoading"
  [length]="totalLibrarians"
  [pageSize]="librariansPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>

