<p>
  <mat-toolbar>
    <i class="fas fa-chalkboard-teacher"></i> &nbsp;
    <span>Accountant</span>
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="addAccountant()">
      <i class="fas fa-user-plus"></i> add accountant
    </button>
  </mat-toolbar>
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="example-header" *ngIf="accountants.length > 0 && !isLoading">
  <mat-form-field>      
   <input matInput (change)="accountantFilter($event.target.value)" 
    placeholder="Search">
  <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
</div>

<ng2-smart-table *ngIf="accountants.length > 0 && !isLoading" [settings]="settings" [source]="accountants" (custom)="onCustom($event)"></ng2-smart-table>

<mat-paginator
  *ngIf="accountants.length > 0 && !isLoading"
  [length]="totalAccountants"
  [pageSize]="accountantsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>
