<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card-header>
    <h1>Book</h1>
  </mat-card-header>
  <form [formGroup]="form" (submit)="onSaveBook()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Book title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a title of book.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="isbn"
        placeholder="isbn ex: 978-3-16-148410-0"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a title of book.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="auther"
        placeholder="auther name"
      />
      <mat-error *ngIf="form.get('auther').invalid"
        >Please enter a auther of book.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        formControlName="pages"
        min="1"
        placeholder="number of pages"
      />
      <mat-error *ngIf="form.get('pages').invalid"
        >Please enter a number of pages.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="number"
        formControlName="copies"
        min="1"
        placeholder="Book disponible"
      />
      <mat-error *ngIf="form.get('copies').invalid"
        >Please enter a number of copies disponible.</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="description"
        placeholder="book description"
      ></textarea>
      <mat-error *ngIf="form.get('description').invalid"
        >Please enter a book description.</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        style="width: 150px"
      >
        Save
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="cancelForm()"
        type="reset"
        style="width: 150px"
      >
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
