<p>
  <mat-toolbar>
    <i class="fas fa-users"></i> &nbsp;
    <span>Group</span>
    <span class="example-spacer"></span>
    <button
      class="btn btn-primary"
      (click)="addGroup()"
      *ngIf="[role] == 'admin'"
    >
      <i class="fas fa-plus-square"></i> &nbsp; Add Group
    </button>
  </mat-toolbar>
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="groups.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let group of groups">
    <mat-expansion-panel-header>
    {{group.level}} &nbsp; {{ group.section.name }} &nbsp;  {{ group.name }} 
    </mat-expansion-panel-header>
    <section>
      <div *ngIf="group.students.length > 0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Full Name</th>
              <th scope="col">Email</th>
              <!-- <th scope="col">Action</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of group.students">
              <td>{{ student.fullName }}</td>
              <td>{{ student.email }}</td>
              <!-- <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  title="delete"
                  (click)="deleteAccountant(accountant.id)"
                >
                  <i class="far fa-trash-alt"></i>
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <p *ngIf="group.students.length <= 0"> no students added </p>
      <mat-action-row *ngIf="[role] == 'admin'">
        <a
          mat-button
          color="primary"
          [routerLink]="['/ecms/edit-group', group.id]"
          >EDIT</a
        >
        <button mat-button color="warn" (click)="onDelete(group.id)">
          DELETE
        </button>
      </mat-action-row>
    </section>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator
  [length]="totalGroup"
  [pageSize]="groupPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="groups.length <= 0 && !isLoading">
  No group added yet!
</p>
