<p>
  <mat-toolbar>
    <i class="fas fa-users"></i> &nbsp;
    <span>Group</span>
    <span class="example-spacer"></span>
    <button class="btn btn-primary" (click)="addGroup()">
      <i class="fas fa-plus-square"></i> &nbsp; Add Group
    </button>
  </mat-toolbar>
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="groups.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let group of groups">
    <mat-expansion-panel-header>
      {{ group.name }}
    </mat-expansion-panel-header>
    <section>
      <div class="container py-3">
        <div class="card resize-card">
          <div class="row">
            <h1>test of group</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- <mat-action-row>
      <a
        mat-button
        color="primary"
        [routerLink]="['/ecms/edit-product', product.id]"
        >EDIT</a
      >
      <button mat-button color="warn" (click)="onDelete(product.id)">
        DELETE
      </button>
    </mat-action-row> -->
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator
  [length]="totalGroup"
  [pageSize]="groupPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="groups.length <= 0 && !isLoading">
  No group added yet!
</p>
