<nav
  class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
>
  <div
    class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center"
  >
    <a class="navbar-brand brand-logo" href="index.html">
      <img
        src="assets/images/school.svg"
        style="width: 220px; height: 60px"
        alt="logo"
      />
    </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img src="assets/images/logo-mini.svg" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown" ngbDropdown>
        <a
          class="nav-link count-indicator dropdown-toggle"
          id="messageDropdown"
          ngbDropdownToggle
        >
          <i class="mdi mdi-file-document-box"></i>
          <span class="count">3</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
          ngbDropdownMenu
          aria-labelledby="messageDropdown"
        ></div>
      </li>

      <li class="nav-item dropdown d-none d-xl-inline-block" ngbDropdown>
        <a [routerLink]="['/ecms/profile']">
          <!-- <span class="profile-text" style="font-size: large; color: snow"
            >{{ fullName }}
          </span> -->
          <div *ngIf="!image">
            <img
              class="img-xs rounded-circle"
              src="../../../assets/images/default.png"
              alt="Profile image"
              title="profile"
            />
          </div>
          <div *ngIf="image != null">
            <img
              class="img-xs rounded-circle"
              [src]="image"
              alt="Profile image"
              title="profile"
            />
          </div>
        </a>
      </li>
      <li>
        <a
          type="button"
          mat-stroked-button
          color="primary"
          (click)="onLogout()"
        >
          logout
        </a>
      </li>
    </ul>
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      (click)="toggleOffcanvas()"
    >
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
