<p>
  <mat-toolbar>
    <i class="fas fa-calendar-alt"></i> &nbsp;
    <span>Time Tables </span>
    <span class="example-spacer"></span>
    <button
      class="btn btn-primary"
      (click)="addTimeTable()"
      *ngIf="[role] == 'admin'"
    >
      <i class="fas fa-file-medical"></i> new Time Table
    </button>
  </mat-toolbar>
</p>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">group</th>
            <th scope="col">time table</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeTable of timeTables">
            <td>{{timeTable.group.level}} {{ timeTable.group.name }}</td>
            <td>{{ timeTable.name }}</td>
            <td>
              <!-- <button>
                <pdf-viewer
                  [src]=""
                  [render-text]="true"
                  style="display: block"
                >
                  ></pdf-viewer
                >
                <i class="fas fa-edit"></i>
              </button> -->

              <button
                type="button"
                class="btn btn-primary"
                title="download"
                (click)="download(timeTable.name)"
              >
              <i class="fa fa-download" aria-hidden="true"></i>
              </button>
              <button
              type="button"
              class="btn btn-danger"
              title="delete"
              (click)="deleteTable(timeTable._id)" 
              *ngIf="[role] == 'admin'"
            >
            <i class="fas fa-trash-alt"></i>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
