<div *ngIf="group && group.students.length > 0">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of group.students">
          <td>{{ student.fullName }}</td>
          <td>{{ student.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="group && group.students.length <= 0"> no students added </p>
  <div *ngIf="group && [role] == 'admin'" class="position">
    <a
      mat-button
      color="primary"
      [routerLink]="['/ecms/edit-group', group.id]"
      >EDIT</a
    >
    <button mat-button color="warn" (click)="onDelete(group.id)">
      DELETE
    </button>
  </div>
